node_modules/
**/cypress/videos
**/cypress/results
**/cypress/screenshots
**/cypress/reports
coverage/
.nyc_output/
dist/
.cache/
.vscode/
cypress-coverage/
yarn.lock
.parcel-cache
del_me/
cypress/**/*.cy.js
cypress/**/*.cy.js.map
cypress/**/*.js
cypress/**/*.js.map